.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .card-container {
    display: flex;
    overflow: hidden;
    width: 70%;
  }
  
  .card {
    flex: 0 0 30%;
    margin: 0 10px;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.5;
    transform: scale(0.8);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    text-align:left;
  }
  
  .card.active {
    opacity: 1;
    transform: scale(1);
  }
  .middle-card-image {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto; /* Center align image */
  }
  
  .icon {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 0%;
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .demo-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .demo-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
    .card {
      flex: 0 0 80%;
      margin: 10px 0;
    }
  }
