<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Advance Feature</title>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class="carousel-container">
          <div class="carousel-arrow carousel-arrow-left">&#8249;</div>
          <div class="carousel-card">
              <div class="circle"></div>
              <h3>Route Optimisation</h3>
              <p>Maximise efficiency with real-time traffic updates and fuel saving</p>
          </div>
          <div class="carousel-card active">
              <div class="circle"></div>
              <h3>Driver Behaviour Monitoring</h3>
              <p>Improve safety and reduce costs with real-time driver behaviour analysis</p>
              <img  alt="Driver Behaviour Graph">
          </div>
          <div class="carousel-card">
              <div class="circle"></div>
              <h3>Vehicle Health Monitoring</h3>
              <p>Reduce Downtime with preventive maintenance alerts and diagnostics</p>
          </div>
          <div class="carousel-arrow carousel-arrow-right">&#8250;</div>
      </div>
      <div class="book-demo">Book a demo</div>
  </body>
  </html>
  
