.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f6f6f6;
    height: 420px;
}
 
.form-container {
    width: 40%;
}
 
.form-container h2 {
    width: 40%;
    margin: 20px 0px 20px 40px;
}
 
input {
    width: 80%;
    padding: 12px;
    margin-bottom: 20px;
    margin-left: 40px;
    border: 1px solid #307fe2;
    border-radius: 4px;
}
 
button {
    width: 20%;
    padding: 10px;
    background-color: #0a0a5f;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 20px 60px 50px 40px;
    cursor: pointer; /* Default cursor */
}
 
button:disabled {
    background-color: grey; /* Grey background when disabled */
    cursor: not-allowed; /* Not allowed cursor when disabled */
}
 
.info-container {
    width: 53%;
    margin: 70px 30px 20px 40px;
    background-color: #d9d9d9;
}
 
.info-box {
    background-color: #bfbfbf;
    padding: 20px;
    text-align: left;
    height: 290px;
    width: 38%;
}
 
p {
    padding-left: 30px;
    padding-bottom: 70px;
}
 
.error {
    color: red;
    font-size: 14px;
    margin: 2px 0px 10px 40px;
}
 
.info-box h2 {
    font-family: "Inter", sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
}
 
h3 {
    font-family: "Inter", sans-serif;
    margin: 20px 30px 5px 30px;
    font-size: 16px;
    font-weight: 700;
}
 
/* Media Queries for Responsiveness */
@media screen and (max-width: 960px) {
    .container {
        flex-direction: column; /* Stack elements vertically */
        height: auto; /* Remove fixed height */
    }
 
    .form-container, .info-container {
        width: 90%; /* Set containers to 90% width */
        margin: 20px auto; /* Center containers */
    }
 
    button {
        width: 20%; /* Make button wider on smaller screens */
        margin: 20px auto; /* Center button */
    }
 
    .info-box {
        width: 40%; /* Set to 100% width */
    }
 
    p {
        padding-left: 30px;
        padding-bottom: 70px;
    }
}
 
@media screen and (max-width: 600px) {
    .form-container {
        width: 100%; /* Full width for mobile */
    }
 
    input {
        width: 90%; /* Make input wider */
        margin-left: 0; /* Reset left margin for better alignment */
    }
 
    button {
        width: 20%; /* Wider button for mobile */
    }
 
    p {
        padding-left: 30px;
        padding-bottom: 70px;
    }
}