/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section Styling */
.hero-section {
  text-align: center;
  padding: 0px;
  background-color: #BEC3C9;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Heading Styling */
.heading {
  flex: 1;
  text-align: left;
  margin-left: 90px;
}

.heading h1 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  text-align: left;
  color: black;
  
}

.heading p {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  text-align: left;
  color: black;
  margin-right: 10px;
}

/* Vehicle Lane Styling */
.vehicle-lane {
  flex: 1;
  display: flex;
  justify-content: center;
}

.vehicle-lane img {
  height: 600px;
  width: 400px;
  margin-left: 60px;
}

/* Button Styling */
.btn-primary {
  margin: 20px 2px;
  width: 168px;
  height: 40px;
  padding: 10px 11px;
  border-radius: 10px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
  background: black;
  cursor: pointer;
}
