<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
 
</head>
<body>
  <div class="testimonials">
    <h1>Hear it from the best</h1>
    <div class="inner">
      <div class="row">
        <div class="col">
          <div class="testimonial">
            <div class="testimonial-content">
              <img [src]="" alt="">
              <div class="name">Divya sharma | Fleet manager | GreenLine Logistics</div>
            </div>
            <div class="stars">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p>Implementing the FleetEdge solution has been a game-changer for our operations. Savings on fuel, reduced idling, and unauthorized stops have had a significant impact on our bottom line
              .The seamless reporting features have saved our team countless hours, allowing us to
               focus on expanding our business. Plus, the additional dispatched jobs have opened up new revenue streams we hadn't even anticipated.</p>
          </div>
        </div>
        <div class="col">
          <div class="testimonial">
            <div class="testimonial-content">
              <img [src]="" alt="">
              <div class="name">Rohit sharma | Fleet manager | GreenLine Logistics</div>
            </div>
            <div class="stars">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p>Implementing the FleetEdge solution has been a game-changer for our operations. Savings on fuel, reduced idling, and unauthorized stops have had a significant impact on our bottom line
              .The seamless reporting features have saved our team countless hours, allowing us to
               focus on expanding our business. Plus, the additional dispatched jobs have opened up new revenue streams we hadn't even anticipated. </p>
          </div>
        </div>
        <div class="col">
          <div class="testimonial">
            <div class="testimonial-content">
              <img [src]="" alt="">
              <div class="name">Sweety mandana | Fleet manager | GreenLine Logistics</div>
            </div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <p>Implementing the FleetEdge solution has been a game-changer for our operations. Savings on fuel, reduced idling, and unauthorized stops have had a significant impact on our bottom line
              .The seamless reporting features have saved our team countless hours, allowing us to
               focus on expanding our business. Plus, the additional dispatched jobs have opened up new revenue streams we hadn't even anticipated.</p>
          </div>
        </div>
      </div>
      <div class="nav-arrows">
        <button class="arrow left-arrow"><i class="fas fa-chevron-left"></i></button>
        <button class="arrow right-arrow"><i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
</body>
</html>
 